#wrapper{
width :100% ;
height: 500px;
background-image :url("C:/Users/khush/Downloads/converted-logo_ace-removebg-preview.png"), url("C:/Users/khush/OneDrive/Pictures/bg.png") ; 
background-repeat : no-repeat , no-repeat;
    background-position: left top ,center;
background-size :300px, 100%;
   
}

#wrapper h1{
font-weight : bold;
color : white ;
font-size :80px;
    text-align: center;
    font-family:fantasy;
    border:white ;
    opacity: 100%;
    -webkit-text-fill-color : transparent;
    -webkit-text-stroke: 2px white;
     
}
#wrapper h2{
font-weight :lighter;
color : white ;
font-size :20px;
    text-align: center;
    font-family: sans-serif;
    background-color: deeppink;
    margin : 0px 500px;
    display: inline-block;
   text-align: center;
    
    border-radius: 10px;
    border : 1px solid deeppink ;
    padding: 20px 50px;
    }

#wrapper h2:hover{
    background-color:deepskyblue;
}


#wrapper i{
    margin:0px 0px 0px 95%;
    background-color: white;
    border-radius: 30px;
    border-color: black;
}


#wrapper input[type=text]{
    font-weight:lighter;
    font-size :19px;
    color : black; 
    font-family:arial;
    margin: 3px 500px;
   
}


#content h1{
    font-size: 50px;
    color : black;
    text-align:center;
    background-color: orange;
}
#main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: orange;
  
}
.gallery {
  margin: 10px 90px;
  background-color:orange;
  float: left;
  width: 100px;
  position:relative;
  overflow:hidden;
}
.gallery img {
  width:100%;
  
}

.desc {
  padding: 2px 15px;
  text-align: center;
  font-weight: bolder;  
  color:white;
  display:flex;  
  background-color:black;
  margin:0.5px;
  border-color: orchid;
}
.desc:hover{
    background-color:orange;
}

.end {
    font-size:60px;
    margin: 500px 0px;
    text-align: center;
    background-color: orange;
    padding: 50px 20px;
    
}
.end i{
    margin:0px 30px;
}
.end i:hover{
    color: crimson;
}
.end h6 i{
    margin:0px;
}